.nav-item {
  margin-left: 2em;
}

.nav-item .active {
  text-decoration: underline;
}

textarea {
  height: 10em;
}

body {
  background-image: url("/Images/wallpaperflare.com_wallpaper.webp");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.display-1,
a,
h1,
h5 {
  font-family: "Eczar", serif;
}

p {
  font-family: "Gentium Plus", serif;
}

.bg-dark {
  background-color: #03001c !important;
}

.border,
.border-bottom {
  border-color: #5b8fb9 !important;
}

a:hover {
  color: #5b8fb9 !important;
}

.btn-primary {
  background-color: #5b8fb9 !important;
  color: #5b8fb9 !important;
}

.text-white,
a,
h1 {
  color: #b6eada !important;
}

.paragraph {
  background-color: #301e67 !important;
}
