.nav-item {
    margin-left: 2em;
}

.nav-item .active{
    text-decoration: underline;
}

textarea {
    height: 10em;
}

body {
    background-image: url('/Images/wallpaperflare.com_wallpaper.webp');

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.display-1, a, h1, h5 {
    font-family: 'Eczar', serif;
}

p {
    font-family: 'Gentium Plus', serif;
}