.nav-item {
  margin-left: 2em;
}

.nav-item .active {
  text-decoration: underline;
}

textarea {
  height: 10em;
}

.bg-cream {
  background-color: #f3eae3;
}

.card h3 {
  text-transform: uppercase;
  font-size: 0.8rem;
}

body {
  background-image: url("/Images/wallpaperflare.com_wallpaper.webp");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#basketIcon {
  font-size: 40px;
}

.alert {
  padding-right: 16px;
}

.bi-circle {
  position: absolute;
  font-size: xx-large;
}

#modalCoverArt {
  width: 300px;
  height: 300px;
}

span, h1, h2, h3, h4, button, a, .btn {
  font-family: 'Eczar', serif;
}

p, .alert-heading {
  font-family: 'Gentium Plus', serif;
}