body {
    background-image: url('/Images/wallpaperflare.com_wallpaper.webp');

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-item {
    margin-left: 2em;
}

.nav-item .active {
    text-decoration: underline;
}

textarea {
    height: 10em;
}

#gmap-canvas img.text-marker {
    max-width: none !important;
    background: none !important;
}

#gmap-canvas {
    height: 100%;
    width: 100%;
    max-width: 100%"

}

#gmap-container {
    overflow: hidden;
    resize: none;
    max-width: 100%;
    width: 500px;
    height: 500px;
}

iframe {
    height: 100%;
    width: 100%;
    border: 0;
}

img {
    max-width: none;
}

h1, button, a, label {
    font-family: 'Eczar', serif;
}

p, input {
    font-family: 'Gentium Plus', serif;
}

.bg-dark {
    background-color: #03001C !important;
}

.border, .border-bottom {
    border-color: #5B8FB9 !important;
}

.text-white, a, h1, ::placeholder {
    color: #B6EADA !important;
}

input, textarea {
    background-color: #301E67 !important;
}

a:hover {
    color: #5B8FB9 !important;
}