body {
    background-image: url('/Images/wallpaperflare.com_wallpaper.jpg');

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-item {
    margin-left: 2em;
}

.nav-item .active{
    text-decoration: underline;
}

textarea {
    height: 10em;
}

#google-maps-display img {
    max-height: none;
    max-width: none !important;
    background: none !important;
  }

#google-maps-display {
    height: 100%; 
    width: 100%; 
    max-width: 100%"
}

#google-maps-container {
    max-width: 100%;
    list-style: none;
    transition: none;
    overflow: hidden;
    width: 500px;
    height: 500px;
}